.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #f8f8f8; */
}

.info-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 576px) {
  .about-container {
    height: 600px; /* Adjust as needed */
  }
}

@media (min-width: 768px) {
  .about-container {
    height: 700px; /* Adjust as needed */
  }
}

@media (min-width: 992px) {
  .about-container {
    height: 800px; /* Adjust as needed */
  }
}

@media (min-width: 1200px) {
  .about-container {
    height: 900px; /* Adjust as needed */
  }
}

.title {
  font-size: 24px;
  color: #333;
}

@media (min-width: 576px) {
  .title {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 40px;
  }
}
