:root {
  --bg-color: black;
  --bg-color-light: white;
}

* {
  color: white;
  text-decoration: none !important;
}

.icon {
  font-size: 20px;
}

.name {
  font-size: 12px;
  text-transform: uppercase;
}

.sidebar{
  background-color: #222222;
}

.sidebar a.active,
.sidebar a.active span,
.sidebar a.active span svg {
  fill: RGB(246, 184, 70);
  color: RGB(246, 184, 70);
  transition: 2s;
}

.center {
  display: flex;
  justify-content: center;
}


@media (prefers-color-scheme: light) {
  body {
    background: var(--bg-color-light);
    color: var(--bg-color);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: var(--bg-color);
    color: var(--bg-color-light);
  }
}
